<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    
    <rewrite>
      <rules>
        <rule name="Front Controller" stopProcessing="true">
          <!-- match everything -->
          <match url="^(.*)$" ignoreCase="false" />
          <!-- exclude files, directories, and paths that need to be handled server side -->
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <!-- <add input="{REQUEST_URI}" pattern="^/(login)" negate="true" /> -->
          </conditions>
          <!-- rewrite to index.html -->
          <action type="Rewrite" url="index.html" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>