.k-state-disabled,
.k-textbox:disabled {
  opacity: 1;
}

.k-state-disabled .k-select {
  display: none;
}

.k-state-disabled .k-input,
.k-textbox:disabled,
.k-textarea:disabled {
  background-color: #eee;
}

.k-label {
  font-weight: normal;
}

.k-required {
  margin-left: 0.125rem;
  color: rgb(218, 79, 30);
}

.k-dropdown .k-dropdown-wrap {
  border-color: rgba(33, 37, 41, 0.15);
  background-color: #fff;
}

.k-list .k-item.k-state-focused,
.k-list .k-item.k-state-focused:hover {
  box-shadow: none;
}

.k-textarea {
  resize: vertical;
}

.k-button.k-primary {
  border-color: rgb(14, 89, 124);
  background-color: rgb(30, 138, 191);
}

.k-button.k-primary:hover,
.k-button.k-primary:focus {
  background-color: rgb(0, 160, 230);
}

.k-window {
  border-color: rgba(14, 89, 124, 0.875);
}

.k-dialog-wrapper .k-dialog {
  max-width: 25rem;
}

.k-window-titlebar {
  padding: 0.625rem 0.875rem;
  border-color: inherit;
  border-radius: 0;
  color: #fff;
  background-color: rgba(14, 89, 124, 0.875);
}

.k-window-title {
  font-size: 1.125rem;
  line-height: 1;
}

.k-window-content,
.k-prompt-container {
  padding: 0.625rem 0.875rem;
  font-size: 0.9375rem;
  line-height: 1.375;
  color: #444;
}

.k-dialog-buttongroup {
  border-radius: 0;
  border-color: rgba(30, 138, 191, 0.25);
}

.k-dialog-buttongroup .k-button {
  border-color: rgba(30, 138, 191, 0.125);
  font-size: 0.9375rem;
  color: rgba(30, 138, 191, 0.875);
  background-color: rgba(30, 138, 191, 0.125);
}

.k-dialog-buttongroup .k-button:hover {
  color: #fff;
  background-color: rgba(30, 138, 191, 0.875);
}
